---
import Layout from '../layouts/Layout.astro';

import BSTAdminContainer from '../components/BSTAdminContainer';
---

<Layout title="BST | Bed State Tracker">
	<main>	
		<BSTAdminContainer client:only="react"/>
	</main>
</Layout>

<style>
	
</style>
