---
import Layout from '../layouts/Layout.astro';

import BSTHomepageContainer from '../components/BSTHomepageContainer';
---

<Layout title="BST | Bed State Tracker">
	<main>	
		<BSTHomepageContainer client:only="react"/>
	</main>
</Layout>

<style>
	
</style>
